streamlit==1.56.0
groq==1.2.0
chromadb==1.5.8
sentence-transformers==5.4.1
rank-bm25==0.2.2
python-dotenv==1.2.2
matplotlib==3.10.8
seaborn==0.13.2
scikit-learn==1.8.0
numpy==2.4.4
torch==2.11.0
transformers==5.5.4
huggingface_hub==1.11.0
